.projects-section{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: 'Imprima', sans-serif;
  font-size: 2vw;
  line-height: 1.3;
  gap: 10px;
  z-index: 1;
  position: relative;
  top: 0;
  padding: 5%;
  width: 100%;
}
.projects-section-title{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.projects-section-title p{
  margin-top: 8px;
  color: rgb(58, 58, 58);
}
.projects-section-list {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
}
.project{
  border-radius: 10px;
  padding: 10px;
  width: 75vw;
  margin: 15px 0;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: row;
  border: 1px solid black;
  flex-wrap: wrap;
  gap: 10px;
  
}
.project-image{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50%;
}
.project-image img{
  width: 100%;
  border-radius: 10px;
}
.project-info{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 40%;
  text-align: center;
}
.project-info p{
  font-size: 1.2vw;
  margin-bottom: 10px;
}
.project-tags{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 10px;
}
.project-tags p{
  border-radius: 10px;
  padding: 5px;
  border: 1px solid black;
  color: rgb(58, 58, 58);
  margin: 5px;
}
@media screen and (max-width: 768px) {
  .projects-section {
    padding: 5% 0;
  }
  .project {
    width: 70vw;
    flex-direction: column;
  }
  .project-image {
    width: 100%;
  }
  .project-info {
    width: 100%;
  }
  .project-info p {
    font-size: 1.5vw;
  }
}