.skills-section{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 5%;
  font-family: 'Imprima', sans-serif;
  font-size: 2vw;
  line-height: 1.3;
  gap: 10px;
  z-index: 1;
  position: relative;
  top: 0;
}
.skills-title{
  margin-left: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 2vw;
  margin-bottom: 10px;
}
.skills-title p{
  color: rgb(58, 58, 58);
}
.skills-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 10px;
}

.skill {
  border-radius: 10px;
  padding: 10px;
  width: calc(45% - 30px);
  min-width: 25vw;
  margin: 15px 0;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  border: 1px solid black;
}
.skill-list p{
  font-size: 1.5vw;
}
@media screen and (max-width: 768px) {
  .skills-list {
    justify-content: center;
  }

  .skill {
    margin-bottom: 0px;
    width: 80%;
  }
}

.skill-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.skill-item {
  margin: 10px;
  display: flex;
  align-items: center;
  border: 1px solid black;
  border-radius: 10px;
  padding: 5px;
  color: rgb(58, 58, 58);
}

.skill-item p {
  margin-left: 5px;
}
