.skills-section{
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  padding: 5% 0% 0 0%;
  font-family: 'Imprima', sans-serif;
  font-size: 2vw;
  line-height: 1.3;
  gap: 10px;
  z-index: 1;
  position: relative;
  top: 0;
}
.skills-title{
  margin-left: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 2vw;
  margin-bottom: 10px;
}
.skills-title p{
  color: rgb(58, 58, 58);
}
.skills-list{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}
.skill-list{
  font-size: 1.5vw;
}
.skill{
  border-radius: 10px;
  background-color: #AC87C5;
  padding: 10px;
  min-width: 25vw;
  flex: 1;
  margin: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.skill-item{
  margin: 10px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  border: 1px solid black;
  border-radius: 10px;
}