@import url('https://fonts.googleapis.com/css2?family=Imprima&family=Sora&display=swap');
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Sora', sans-serif;
}
html{
  scroll-behavior: smooth;
}
body{
  margin: 0% !important; 
  padding: 0% !important;
  font-family: 'Sora', sans-serif;
}
/*Las reglas de CSS que se aplican son para personalizar la barra de deslizamiento del navegador.*/
/*Estas reglas solo funcionan en navegadores basados en WebKit como Chrome, Safari y Opera (No funciona en Microsoft Edge)*/
/* width */
::-webkit-scrollbar {
  width: 10px;
  height: 30px;
}

/* Track */
::-webkit-scrollbar-track {
  background:white;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #575C66;
  border-radius: 6px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #495057;
}